@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  background-color: #eee; }

a {
  font-family: 'Open Sans', sans-serif;
  color: #eee;
  font-weight: 600; }
  a .navbar-brand {
    color: #eee; }

header {
  width: 100%;
  height: 50px;
  background: #126985;
  background: -webkit-linear-gradient(top, #126985, #18516b);
  background: linear-gradient(to bottom, #126985, #18516b);
  color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  header .container {
    display: table; }

h1 {
  margin-top: 8px;
  float: left; }

header label {
  float: right;
  font-size: 20px;
  margin: 8px 0;
  cursor: pointer; }

.menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(24, 81, 107, 0.9);
  transition: all 0.5s;
  transform: translateX(-100%); }
  .menu a {
    display: block;
    text-decoration: none;
    height: 50px;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    .menu a :hover {
      background: rgba(50, 88, 118, 0.4); }
  .menu :hover {
    background: rgba(62, 104, 130, 0.4); }

#menu-bar {
  display: none; }

#menu-bar:checked ~ .menu {
  transform: translateX(0%); }

@media (min-width: 1024px) {
  .menu {
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    float: right;
    display: flex;
    background: none; }
    .menu a {
      border-bottom: none;
      background: none; }
  header label {
    display: none; } }

h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center; }

h3 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  text-align: center;
  margin-top: 2em; }

h5 {
  text-align: center;
  font-size: 2em;
  padding: 2em;
  color: #18516b;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }
  h5 h6 {
    text-align: center;
    font-size: 1.5em; }
  h5 .row h6 {
    padding-top: 6em; }
  h5 .row p {
    text-align: center; }
  h5 .row a.btn.btn-primary {
    text-align: center;
    align-items: center; }
  h5 .row .nosotros.values {
    text-align: center; }
  h5 .card-title__font {
    font-size: 0.1rem;
    font-family: 'Open Sans', bold, sans-serif;
    font-weight: 100; }

h6 {
  font-family: 'Open Sans', sans-serif; }

* {
  margin: 0px;
  padding: 0px; }

/* Banner inicio*/
section {
  width: 100%;
  margin-bottom: 25px; }

#banner {
  margin-top: 50px;
  position: relative; }
  #banner .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden; }
  #banner .container-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff; }
    #banner .container-banner .a {
      width: 100px;
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 10px;
      margin-top: 10px;
      border-radius: 3px solid #fff; }
  #banner .a:hover {
    background: rgba(51, 51, 51, 0.5); }

.banner.contact.btn {
  background: linear-gradient(15deg, #5f863c 0%, #9fbf4e 35%);
  border-color: linear-gradient(15deg, #5f863c 0%, #9fbf4e 35%); }
  .banner.contact.btn a {
    color: #fff; }

.card-img-top:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3); }

.card.h-100 {
  overflow: hidden; }

div.imagen.col.d-flex.justify-content-end {
  padding-right: 0%; }

.col-8 {
  padding-bottom: 3em; }

a.contact.btn.btn-primary {
  margin-left: 1.5em; }
  a.contact.btn.btn-primary .div.text.col-12 p {
    text-align: center; }
  a.contact.btn.btn-primary .contact__map {
    margin-left: 2em; }
  a.contact.btn.btn-primary .form__contact {
    margin-right: 4em; }

/* Nosotros*/
.row.nosotros.description {
  margin: 1.5em;
  text-align: center; }

.valores.card.text-white.mb-3 {
  background: linear-gradient(15deg, #5f863c 0%, #9fbf4e 35%);
  align-items: center; }

.cards.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  grid-gap: 10px; }

.card-body h5 {
  font-size: 2.5vw;
  width: 100%; }

.card-body p {
  font-size: 1.5vw;
  padding: 5px; }

.row.nosotros.values {
  margin: 1.5em; }
  .row.nosotros.values h5 {
    text-align: left; }

p {
  font-family: 'Barlow Semi Condensed', sans-serif; }

.row.gallery {
  margin: 1.5em; }

/* Servicios*/
.row.row-cols-1.row-cols-md-3.g-4.services {
  margin: 1.5em; }

.row.row-cols-1.row-cols-md-3.g-4.home.services {
  margin: 1.5em; }

.col.home.landing {
  text-align: center; }
  .col.home.landing h6 {
    font-size: 1.5em;
    margin-top: 7em; }

/* Galería*/
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px; }

.gallery__item {
  position: relative; }

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.gallery__tittle {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(95, 134, 60, 0.5), #9fbf4e);
  width: 100%;
  margin: 0;
  padding: 10px;
  font-size: 1rem; }

.gallery__item:nth-child(4) {
  grid-column-start: span 2; }

.gallery__item:nth-child(5) {
  grid-row-start: span 2; }

.gallery__item:nth-child(9) {
  grid-column-start: span 2; }

/* Contáctenos*/
.row.contact.description {
  margin: 1.5em;
  text-align: center; }

.row.contact.content {
  margin: 1.5em; }

.map.responsive {
  overflow: hidden; }

.enviar.btn {
  background: linear-gradient(rgba(95, 134, 60, 0.5), #9fbf4e);
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding-left: 5vh;
  padding-right: 5vh; }

@media (min-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(4, 1fr); }
  .gallery__item:nth-child(3) {
    grid-column-start: span 2; }
  .gallery__item:nth-child(4) {
    grid-column-start: span 3; }
  .gallery__item:nth-child(5) {
    grid-row-start: span 3; }
  .gallery__item:nth-child(9) {
    grid-column-start: span 3; }
  .enviar.btn {
    background: linear-gradient(rgba(95, 134, 60, 0.5), #9fbf4e);
    margin-bottom: 30px;
    padding-left: 72vh;
    padding-right: 72vh; } }

@media (min-width: 1024px) {
  .banner.contact.btn {
    margin-left: 40%; }
  .gallery-container {
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto; }
  .gallery__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2; }
  .gallery__item:nth-child(4) {
    grid-column-start: span 3;
    grid-row-start: span 3; }
  .card-body h5 {
    font-size: 1.5vw;
    width: 100%; }
  .card-body p {
    font-size: 1.2vw;
    padding: 5px; }
  .enviar.btn {
    padding-left: 44vh;
    padding-right: 44vh; } }

h4 {
  font-family: 'open Sans', sans-serif;
  color: #eee;
  margin-top: 1em;
  margin-left: 1.5em;
  font-size: 1.2em;
  font-weight: 600; }

footer {
  background: linear-gradient(#18516b, #126985);
  font-family: 'Open Sans', sans-serif; }
  footer h6 {
    color: #eee;
    margin-top: 2em;
    margin-left: 1.5em;
    margin-bottom: 0;
    text-align: center; }
  footer ul {
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em; }
    footer ul li {
      color: #eee; }
      footer ul li a {
        font-weight: 200;
        text-decoration: none; }
  footer p {
    align-content: center;
    color: #eee;
    align-self: center; }
